body {
  min-height: 195vh;
}

.border-custom {
  border: 2px solid #007bff; /* Use the Bootstrap primary color or customize it */
  border-radius: 8px; /* Optional: adds rounded corners */
  padding: 20px; /* Adds space inside the border */
}